@{
    ViewBag.Title = "Splash!";
}

<div class="jumbotron">
    <h1>ZOOLANIDA RULES!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>All the Animals</h2>
        <p>
            The best thing about Zoolandia is the animals.  It's why you came here, isn't it?
        </p>
        <p><a class="btn btn-default" href="/Animal/Index">See Animals &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Go here to check out our groovy Zoolandia employees!</p>
        <p><a class="btn btn-default" href="/Employee/Index">See Employees &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Habitats</h2>
        <p>Here's where you can see the animal habitats.</p>
        <p><a class="btn btn-default" href="/Habitat/Index">See Habitats &raquo;</a></p>
    </div>
</div>