
@{
    ViewBag.Title = "Index";
}

<ul>
    @{
        for (int i = 0; i < ViewBag.Employees.Count; i++)
        {
            <li><a href="/Employee/Details/@ViewBag.Employees[i].EmployeeId">@ViewBag.Employees[i].EmployeeName</a></li>
        }
    }
</ul>


